<div class="team-container">
  <div class="team fade color grow" *ngFor = "let team of teams" (click)="getMoreInfo()">
      <h1>{{team.name}}</h1>
      <span class="list">Team name: {{team.name}}</span>
      <span>Team type: {{team.type}}</span>
      <span>Number of players: {{team.players}}</span>
      <span>Game duration: {{team.duration}}</span>
      <span>Board: {{team.mainBody}}</span>
  </div>
</div>

 <!--<div>
  <ul *ngFor = "let match of newMatches">
    <li><a href="#">
      <span>1st Team: {{match.first}}</span>
      <span>2nd Team: {{match.second}}</span>
        <img src="http://placehold.it/150x150" /></a></li>
  </ul>
</div>-->

<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
<div class="" >
  <div class="gradientBoxesWithOuterShadows" *ngFor = "let match of newMatches">
    <span>1st Team: {{match.first}}</span>
    <span>2nd Team: {{match.second}}</span>
    <span>Date and time: {{match.date}}</span>
  </div>
</div>
