<div class="team-container">
  <div class="team fade color grow" *ngFor = "let team of teams" (click)="getMoreInfo(team.name)">
      <h1>{{team.name}}</h1>
      <span class="list">Team name: {{team.name}}</span>
      <span>Team type: {{team.type}}</span>
      <span>Number of players: {{team.players}}</span>
      <span>Game duration: {{team.duration}}</span>
      <span>Board: {{team.mainBody}}</span>
  </div>
</div>


<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
<div class="match-container" *ngIf="newMatches !== ''">
  <div class="gradientBoxesWithOuterShadows"  *ngFor = "let match of newMatches">
    <h2>{{match.first}} Vs {{match.second}}</h2>
    <span>1st Team: {{match.first}}</span>
    <span>2nd Team: {{match.second}}</span>
    <span>Match Date and time: {{match.date | date}}</span>
  </div>
</div>

<div class='no-data' *ngIf="newMatches === null">No data available...!</div>
